<div class="row">
    <div class="col-sm-6">
        <h1>About</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-8 col-xs-10">
        <p>
            This is a simple financial portal, created as part of my final project at the Summer 2015 Coder Foundry Masters Bootcamp
            in Charlotte, North Carolina.
        </p>
        <p>
            It allows you to enter financial information for bank accounts, credit cards, cash laying around, etc.  You decide how
            you want to organize the information; and if you like, and it lets you reconcile your records with the bank statements.
        </p>
        <p>
            You can also set monthly budgets and see how you're doing compared to those budgets. It's not much, but it works (well,
            at least that's the plan!).
        </p>
        <p>
            Enjoy!
        </p>
    </div>
</div>
