<div class="row">
    <div class="col-sm-7">
        <h1 class="title">Dashboard</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">

        <div class="row"> <!-- display account balances -->
            <div class="box balances">
                <h4 class="box-sm-desc">Account Balances</h4>
                <p></p>
                <div class="scroll">
                    <p>
                        AFCU Checking: $2,045.67
                    </p>
                    <p>
                        AFCU Savings: 34.01
                    </p>
                    <p>
                        Wells Fargo I Checking: $3,007.91
                    </p>
                    <p>
                        Wells Fargo I Savings: $10,793.83
                    </p>
                    <p>
                        AFCU Checking: $2,045.67
                    </p>
                    <p>
                        AFCU Savings: 34.01
                    </p>
                    <p>
                        Wells Fargo I Checking: $3,007.91
                    </p>
                    <p>
                        Wells Fargo I Savings: $10,793.83
                    </p>
                </div>
            </div>
        </div>

        <div class="row"> <!-- recent transactions -->
            <div class="box transactions">
                <h4 class="box-sm-desc">Recent Transactions</h4>
                <p></p>
                <p>
                    9/17/2015 - AFCU - Groceries: $34.43
                </p>
                <p>
                    9/15/2015 - Wells Fargo I - Gas: $19.32
                </p>
                <p>
                    9/10/2015 - AFCU - Clothing: $80.77
                </p>
                <p>
                    9/10/2015 - Wells Fargo I - Gas: $19.32
                </p>
                <p>
                    9/8/2015 - AFCU - Clothing: $80.77
                </p>
                <p>
                    9/8/2015 - Wells Fargo I - Gas: $19.32
                </p>
                <p>
                    9/8/2015 - AFCU - Clothing: $80.77
                </p>
                <p>
                    9/4/2015 - Wells Fargo I - Gas: $19.32
                </p>
            </div>
        </div>

    </div>

    <div class="col-sm-9">
        <div class="box graph">
            <h4 class="box-sm-desc">Budget Graph</h4>
            <p></p>
            <p>
                Eventually, this will be a budget graph.
            </p>
        </div>
    </div>
</div>
