<div class="row">
    <div class="col-sm-6">
        <h1>Show Households</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        <p>
            Display households (for debug purposes only; normally, the proper household is determined at Login)
        </p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-8">
        <p>
            Invite a person to join this household
        </p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-8">
        <p>
            Various CRUD operations.
        </p>
    </div>
</div>
